*{
    padding: 0;
    margin: 0;
}
.container-fluid{
    height: 3em;
    font-size: x-large;
}
.c-item{
    height: 100vh;
}
.c-img{
    height: 100%;
    object-fit: cover;
}
.navbar{
    opacity: 50;
}
